@tailwind base;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Melodrama-Variable";
  src: url("/Melodrama-Variable.woff2") format("woff2"),
    url("/Melodrama-Variable.woff") format("woff"),
    url("/Melodrama-Variable.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("/manrope-v15-latin-regular.woff2") format("woff2"),
    url("/manrope-v15-latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("/manrope-v15-latin-500.woff2") format("woff2"),
    url("/manrope-v15-latin-500.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("/manrope-v15-latin-600.woff2") format("woff2"),
    url("/manrope-v15-latin-600.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("/manrope-v15-latin-700.woff2") format("woff2"),
    url("/manrope-v15-latin-700.ttf") format("truetype");
}

@tailwind components;
@tailwind utilities;
